<div class="home__container">
    <app-card
    gameCover="./assets/img/bt-hardline.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="129,99"
    >
    </app-card>
    
    <app-card
    gameCover="./assets/img/bt-bad-company-2.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="269,69"
    >
    </app-card>

    <app-card
    gameCover="./assets/img/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL | PS5 PC"
    gamePrice="219,69"
    >
    </app-card>

    <app-card
    gameCover="./assets/img/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS3 PS4 PS5 PC"
    gamePrice="189,79"
    >
    </app-card>

    <app-card
    gameCover="./assets/img/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="329,09"
    >
    </app-card>

    <app-card
    gameCover="./assets/img/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4 PS5"
    gamePrice="379,89"
    >
    </app-card>
</div>